<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>

        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    cache : false,
                    url : "/api/chat/polling/"+[[${roomId}]],
                    success:function(data){
                        const table = $("#chattingTable");
                        table.empty();

                        for(const i in data){
                            const sessionId = data[i].sessionId
                            const message = data[i].message
                            const time = data[i].time

                            const row = $("<tr />").append(
                                $("<td />").text(sessionId),
                                $("<td />").text(message + " " + time)
                            );
                            table.append(row);
                        }

                    }

                })
            },1000)
        });

        function sendMessage(roomId){

            const data = {
                "message" : document.getElementById('message').value
                ,"roomId" : roomId
            }
            $.ajax({
                url: "/api/chat/send",
                type:'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(){
                    console.log('Message sent :', data.message)
                },
                error: function(error){
                    alert("Error: "+ error);
                }
            })
        }

    </script>
</head>
<body>
<div>
    <h1 th:text="${roomName}"></h1><h1> 채팅방</h1>
</div>

<table id = "chattingTable">

</table>
<div>
    <input type="text" id="message"/>
    <input type="button" th:onclick="|javascript:sendMessage('${roomId}')|" value = "전송"/>
</div>
</body>
</html>